body{
    margin:0px;
    padding:0px;
}

#Canvas{
    display:flex;
    flex-direction:column;
    background-color:rgb(255, 255, 255);
    height:86vh;
    width:86vh;
    justify-content:space-evenly;
    border-radius:9px;
    border-color:rgb(15, 223, 223);
    box-sizing:border-box;
    border-style:solid;
    border-width:10px;

}

.row{
    flex-grow:1;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content:space-evenly;
}

.box{
    flex-grow:1;
    background-color:rgba(255,255,255,0.0);
}

.boxHover{
   background-color:black;
}

button{
    background-color:rgb(161, 172, 164);
    height:15vh;
    font-size:25px;
    border-radius:10px;0,0,auto;
    box-shadow:#ddd9dc;
    min-height:30px;
}

.ui{
    display:flex;
    padding:7vh;
    background-color:rgb(117, 230, 122);
}

.buttonContainer{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:15vh;
}
